.main, .head {
    text-align: center;
    color: rgb(22, 22, 22);
}

* {
    background-color: #FFCCCB;
}

.list {
    text-align: center;
    list-style-position: inside;
}

.list_item {
    text-align: center;
    font-size: 18px;
}

.list {
    font-weight: 600;
    font-size: 23px;
    color: rgb(43, 41, 56);
}